Library/
Temp/
*.log
.idea/
Assembly-CSharp.csproj
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/Plugins/Editor/JetBrains.meta
*.csproj
Assembly-CSharp.csproj.DotSettings
*.DotSettings
.gradle/
obj/Debug
